<div class="my-nav-bar">
<ul class="nav1">
<li class="nav-item1">
  <a class="nav-link1 logo" style="color:#eee;" href="#"> LOGO </a>
</li>
<li class="nav-item1">
  <a class="nav-link1" href="/"> Home </a>
</li>
<li class="nav-item1">
  <a class="nav-link1" href="/"> About </a>
</li>

<% if(!loggedIn) { %>
<li class="nav-item1">
  <a class="nav-link1" href="/create"> Create Account </a>
</li>
<% } %>
<li class="nav-item1 float-right">

  <% if(loggedIn) { %>
    <a class="nav-link1" href="/logout">
      <i class="fa fa-address-book"></i>
      Logout
    </a>
  </li>
  <li class="nav-item1 float-right">
    <a class="nav-link1" href="/profile/<%= loggedIn.uname %>" > Profile </a>

    <%  }
    else { %>

  <a id="test" class="nav-link1" href="/login"  >
    <i class="fa fa-address-book"></i>
    Login
  </a>
  <% } %>
</li>
</ul>
</div>
  <% if(loginErr!=null) { %>
  <button class="nav-link1" href="#" data-toggle="modal" data-target="<% if(display==true){ %> #myInfoModal <% } %>" id="openmsg" style="display:none;"></button>

<!-- The Modal -->
<div class="modal" id="myInfoModal">
<div class="modal-dialog">
  <div class="modal-content">

    <!-- Modal Header -->
    <div class="modal-header">
      <h4 class="modal-title">
      
        <%=  loginErr %>


      </h4>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>

    <!-- Modal body -->
    <div class="modal-body">

      <%=  loginErr %>

    </div>

  </div>
</div>
</div>
<%  } %>
