<ol id="pa">

<% postcontent.forEach(function(item){ %>
  <li>
    <h2>
      <strong>Question:</strong>
      <%= item.content  %>
    </h2>
    <p>
      <strong>By:</strong>
      <%= item.username %>
    </p>
  </li>

<% }); %>

</ol>
