<ol id="pa">

<% postcontent.forEach(function(item){ %>
  <li>
    <h2 class="question-heading"><a href="/question/<%= item.id %>">
      <strong>Question:</strong>
      <%= item.content  %>
    </a>
    </h2>
    <p>
      <strong>By:</strong>
      <a class="author" href="/profile/<%= item.author %>" >
      <%= item.author %>
    </a>
    </p>
  </li>

<% }); %>

</ol>
