<!DOCTYPE html>
<html>
  <head>
<% include partials/head.ejs %>
    <title>
      Index page
    </title>
  </head>
  <body>
<% include partials/navbar.ejs %>


<audio id="msgSound">
  <source src="/static/sound/new.mp3" type="audio/mpeg">
  </audio>

<div  class="container-fluid">
	<div class="row" style="margin-top:0px;">

		<div class="col-xl-7" style="  margin:50px 15px;">

      <% include partials/posts.ejs %>

		</div>
<% if(loggedIn) { %>
		<div class="col-xl-4" style=" margin:50px 45px;">
			<h1 style="font-weight:bold;"> Post Something!! </h1>
			<p style=""> Just say hii. </p>

<!--				<div class="row">
				      <div class="col-md-6">
				            <div class="form-group"> -->
					                 <input type="text" name="fname" id="fname" value="<%= loggedIn.fname %>"  style="display:none;"/>
                           <!--
				            </div>
				      </div>
				      <div class="col-md-6">
				            <div class="form-group"> -->
                          <input type="text" name="lname" id="lname" value="<%= loggedIn.lname %>" style="display:none;"/>
                          <input type="text" name="lname" id="uname" value="<%= loggedIn.uname %>" style="display:none;"/>
				       <!--     </div>
				      </div>
				</div>
      -->
				<div class="row">
				      <div class="col-md-12">
				            <div class="form-group">
					            <textarea class="form-control" name="message" id="message" placeholder="Type your post....." required rows="6"></textarea>
				            </div>
				      </div>
        </div>
        <input id="formbtn" type="submit" value="Post It" class="btn btn-primary" />


		</div>

    <% } %>
	</div>
</div>
  </body>
</html>
