<!DOCTYPE html>
<html>
  <head>
<% include partials/head.ejs %>
    <title>
      Index page
    </title>
  </head>
  <body>
<% include partials/navbar.ejs %>


<audio id="msgSound">
  <source src="/static/sound/new.mp3" type="audio/mpeg">
  </audio>

<div  class="container-fluid">
	<div class="row" style="margin-top:0px;">

		<div class="col-xl-7" style="  margin:50px 15px;">

      <% include partials/posts.ejs %>

		</div>
<% if(loggedIn) { %>
		<div class="col-xl-4" style=" margin:50px 45px;">
			<h1 style="font-weight:bold;"> Ask Something!! </h1>
			<p style=""> Or just anything!! </p>
      <input type="hidden" name="info" id="info" value='{"fullname":"<%= loggedIn.fullname %>","author":"<%= loggedIn.uname %>"}'  style="display:none;"/>
				            <div class="form-group">
					            <textarea class="form-control" name="question" id="question" placeholder="Write here....." required rows="6"></textarea>
				            </div>
        <input id="formbtn" type="submit" value="Ask It" class="btn btn-primary" />
		</div>
    <% } %>
	</div>
</div>
  </body>
</html>
